name: Auto Deploy to UTCN VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          printf "%s\n" "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 10.20.7.144 >> ~/.ssh/known_hosts


      - name: Deploy on VM
        run: |
          ssh deploy@10.20.7.144 << 'EOF'
            cd /home/mstefania/GenerateTimetableFromOutlookCalendar
            git pull
            docker compose up -d --build
          EOF
